$azulAtivo: #00BDE8 !default;
$azulPrimario: #0060B6 !default;
$erro: #ff4d4f !default;
$cinzaPrimario: #1F1F1F !default;
$cinzaSecundario: #6A6A6A !default;
$cinzaTerciario: #828282 !default;
$cinzaQuaternario: #E5E5E5 !default;
$cinzaIcon: #AAAAAA !default;
$desativado: #949494 !default;
$laranja: #c08716 !default;
$verde: #21af34 !default;
