section{
  article:nth-child(1) {
    span:nth-child(1){
      font-size: 16px;
      margin-right: 15px;
    }
  }

  article:nth-child(2) {
    display: flex; flex-wrap: wrap;
    margin-bottom: 55px;
    nz-card {
      margin: 15px 15px 0px 0px;
      height: 186; width: 450px;

      .linha {
        display: flex;
        margin-top: 10px;
      }

      aside {
        display: flex;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
