<nz-spin [nzSpinning]="onRankingLoad" [nzDelay]="150">
  <nz-card [nzBodyStyle]="{'padding': '15px 15px 15px 15px'}">
    <div class="corpo">
      <h5 nz-typography>
        Ranking
      </h5>

      <div class="mes-atual">
        <span style="font-size: large;" nz-typography>
          Sua posição neste mês
        </span>
        <span style="font-size: x-large; margin-top: 8px;" nz-typography>
            {{pontosMesAtual}}º lugar
        </span>
      </div>
      <nz-divider></nz-divider>

      <span style="font-size: large;" nz-typography>
        Mês anterior: {{pontosMesAnterior}}º lugar
      </span>

    </div>
  </nz-card>
</nz-spin>
