@import "cores.scss";

.main {
  background-color: #FFFFFF;
  max-width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 5px;
  border-width: 1px;
  border-color: $cinzaSecundario;
  border-style: solid;
  padding: 15px;
  display: flex;
  flex-direction: column;

  .sucesso{
    color: $azulPrimario;
  }

  .error{
    color: $erro;
  }

  button {
    margin-top: auto;
  }

  header {
    padding-top: 20px;
    padding-bottom: 10px;
    color: $cinzaSecundario;
    font-weight: bold;
    font-size: 23px;
  }

  form {
    button {
      margin-top: 15px;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}



