section {
   display: flex;
   justify-content: space-between;
   height: 50px;
   align-items: center;

   aside {
    display: flex;
    align-items: center;

    i{
      font-size: 20px;
    }

    h1{
     margin-left: 25px;
     margin-bottom: 0px;
    }
   }

}

